body{
    width: 100%;
    height: 100%;
    border: 10px solid black;
    border-top: 20px solid black;
    margin: 0;
}

a:hover{
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.header{
    width: 100%;
}

.header .banner{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
}

#kep {
    height: 100px;
}

.containera {
    background-color: red;
    height: 1000px;
}

.nav-list{
    display: flex;
    vertical-align: middle;
    justify-content: space-around;
}

.nav-list a button{
    height: 80%;
    width: 80px;
    background-color: black;
    border: 0;
    font-size: 30px;
    color: white;
}

#discord{
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

#youtube{
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

#instagram{
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

#tiktok{
    width: 50px;
    height: 50px;
    border-radius: 12px;
}

.linkek{
    margin-top: -10px;
    margin-bottom: 10px;
}

.containerb {
    background-color: red;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.jelentkezes{
    background-color: white;
    width: 1000px;
    height: 900px;
    margin: auto;
    border-radius: 20px;
}

.jelentkezes h1{
    font-size: 40px;
    color: black;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
}

.jelentkezes p{
    font-size: 23px;
    margin-left: 10px;
    font-family: sans-serif;
}

#felsorolas{
    font-size: 20px;
    margin-left: 20px;
    font-family: sans-serif;
}

#felsorolas #kep{
    width: 25px;
    height: 25px;
}

.containerc {
    background-color: red;
    height: 1000px;
    display: flex;
    justify-content: center;
}

#cikk{
    background-color: white;
    height: 120px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-top: 20px;
    margin: auto;
    text-align: center;
}

#cikk .cikkkep{
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

#cikk p{
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.col{
    margin-left: 32px;
}

.containerd {
    background-color: red;
    height: 1000px;
    display: flex;
    justify-content: center;
}

#hir{
    height: 600px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}


#hir img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containerf {
    background-color: red;
    height: 1000px;
}

#kartya {
    width: 350px;
    margin: auto;
    text-align: center;
    background-color: white;
    margin-top: 20px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid black;
  }
  
#kartya img{
    width: 250px;
    height: 300px;
    border: 2px solid black;
    margin-top: 20px;
}

.containere {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
    margin-top: -13px
  }
  
  .div-transform {
    flex: ;
    transform: rotateX(5deg) rotateY(10deg) rotateZ(-9deg) scale3d(1, 1, -0.9)
      scale(1.1) translateX(50px);
  }
  
  .card {
    background: url("images/image.jpg") center;
    color: #ffffff;
    border-radius: 8px;
    padding: 0px 18px;
    width: 244px;
    transition: 0.5s ease;
    overflow: hidden;
    transform: translate(0);
  }
  
  .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
  }
  
  .card h2 {
    text-transform: capitalize;
  }
  
  .card h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
  }
  
  .card-1 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
  }
  
  .card-1:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
  }
  
  .card-1::before {
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
  }

  .card-3 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
  }
  
  .card-3:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
  }
  
  .card-3::before {
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
  }
  
  .card-2 {
    background-size: cover;
    transform: scale(1.01);
    margin-right: 31px;
  }
  
  .card-2:hover {
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
  }
  
  .card-2::before {
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
  }

  .card-4 {
    background-size: cover;
    transform: scale(1.01);
    margin-right: 31px;
  }
  
  .card-4:hover {
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
  }
  
  .card-4::before {
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
  }
  

* {
    font-family: "Roboto";
  }
  
.fo {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: red;
  }
  
